body {
    background-image: url(/assets/images/Background_Intro.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    padding: 120px;
}

.profile {
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
}

.profile h1 {
    margin-top: 56px;
}

.profile p{
    margin-top: 20px;
}

.avatar {
    width: 100px;
    height: 100px;
    border: 2px solid var(--red);
    border-radius: 50%;
}

.green-icon {
    position: absolute;
}

.tech-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.tech-item {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--gray-300);
    border-radius: 30px;
    padding: 8px 16px;
}

.tech-item img {
    width: 20px;
    height: 20px;
}

.scrollDown {
    margin-top: 94px;
}