.grid {
    display: grid;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.grid-3cols {
    grid-template-columns: 1fr 1fr 1fr;
}

.gap-24 {
    gap: 24px;
}

.subtitle {
    font: var(--subtitle);
    color: var(--gray-500);

    span {
        color: var(--red);
    }
}

.title-sm {
    font: var(--title-sm);
    color: var(--gray-600);
}

.title-md {
    font: var(--title-md);
    color: var(--gray-600);
}

.title-lg {
    font: var(--title-lg);
    color: var(--gray-600);
}

.text-md {
    font: var(--text-md);
    color: var(--gray-500);
}

.text-sm {
    font: var(--text-sm);
    color: var(--gray-400);
}